<div class="container-fluid">
  <!--TODO search FIELD-->
  <div class="row">
    <div class="col-md-6">
    <!--  <ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="totalItems" [(page)]="page" [maxSize]="10"
                      aria-label="Default pagination"></ngb-pagination>-->
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Name</th>
      <th scope="col" translate>Tariff</th>
      <th scope="col" translate>Property</th>
      <th scope="col" translate>Valid from</th>
      <th scope="col" translate>Valid until</th>
      <th scope="col" translate>All apartments</th>
      <th scope="col" class="text-center">
        <button type="button" class="btn btn-primary" (click)="createBillField()" [title]="'Create new' | translate">
          <i class="far fa-lg fa-plus-square"></i>
          <span translate >Create new</span>
        </button>
      </th>
    </tr>

    </thead>
    <tr class="scope" *ngFor="let billField of billFields">
      <td>{{billField.name}}</td>
      <td>{{billField.tariff}}</td>
      <td>{{billField.property | translate}}</td>
      <td>{{billField.validFrom | date:'dd.MM.yyyy'}}</td>
      <td>{{billField.validUntil | date:'dd.MM.yyyy'}}</td>
      <td><input class="form-check-input" type="checkbox" [checked]="billField.defaultField" disabled="disabled"> </td>
      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="openBillField(billField)" [title]="'Edit' | translate">
          <i class="far fa-lg fa-edit"></i>
          <span translate >Edit</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteBillField(billField)" [title]="'Delete' | translate">
          <i class="far fa-lg fa-trash-alt"></i>
          <span translate >Delete</span>
        </button>
      </td>
    </tr>
  </table>
</div>
