
<div class="modal-header">
  <h4 class="modal-title" translate>Apartment</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="apartmentNumber" translate>Apartment number</label>
      <input id="apartmentNumber" class="form-control" name="apartmentNumber" formControlName="apartmentNumber" [ngClass]="{ 'invalid': canShowError(f.apartmentNumber)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.apartmentNumber)"  translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="apartmentSize" translate>Size</label>
      <input id="apartmentSize" class="form-control" name="size" type="number" formControlName="size" [ngClass]="{ 'invalid': canShowError(f.size)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.size)"  translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="tenantName" translate>Tenant name</label>
      <input id="tenantName" class="form-control" name="tenantName" formControlName="tenantName" [ngClass]="{ 'invalid': canShowError(f.tenantName)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.tenantName)"  translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="tenantPersonCode" translate>Tenant person code</label>
      <input id="tenantPersonCode" class="form-control" name="tenantPersonCode" formControlName="tenantPersonCode" [ngClass]="{ 'invalid': canShowError(f.tenantPersonCode)}"/>
<!--      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.tenantPersonCode)"  translate>
        REQUIRED_FIELD
      </div>-->
    </div>
    <div class="form-group">
      <label for="inhabitantCount" translate>INHABITANTS</label>
      <input id="inhabitantCount" class="form-control" name="inhabitantCount" type="number" formControlName="inhabitantCount" [ngClass]="{ 'invalid': canShowError(f.inhabitantCount)}"/>
<!--      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.inhabitantCount)"  translate>
        REQUIRED_FIELD
      </div>-->
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid" translate>Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</div>
