<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home" translate>APP_NAME</a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
            aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/building-list" routerLinkActive="active">
          <i class="fas fa-building"></i>
          <span translate>Buildings</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/apartment-list" routerLinkActive="active">
          <i class="fas fa-door-closed"></i>
          <span translate>Apartments</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/bill-field-list" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          <span translate>Bill fields</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/bill-list" routerLinkActive="active">
          <i class="fas fa-file-alt"></i>
          <span translate>Bill list</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/water-readings" routerLinkActive="active">
          <i class="fas fa-lg fa-tint"></i>
          <span translate>Water readings</span>
        </a>
<!--        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>About</span>
        </a>-->
      </div>

      <div class="navbar-nav ml-auto">
        <label class="navbar-text" style="padding-bottom: 0; padding-right: 0.5rem" for="user-selected-building" translate>Selected building</label>
        <select class="nav-item" id="user-selected-building" name="user-building" [(ngModel)]="selectedBuilding"
          (ngModelChange)="onBuildingChange()">
          <option *ngFor="let building of allBuildings" [ngValue]="building">{{building.address}}</option>
        </select>
        <div class="nav-item" ngbDropdown>
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLanguage}}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown" class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown>
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{username}}</b></h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
