<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>In development</span>
    </h1>
<!--    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
    <p>
      <button
        class="btn btn-primary"
        angulartics2On="click"
        angularticsAction="Click button below quote"
        [angularticsCategory]="quote">
        Click me to send an Analytics event
      </button>
    </p>-->
  </div>
</div>
