<div class="container-fluid">
  <!--TODO search FIELD-->
  <div class="row">
    <div class="">
      <!--  <ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="totalItems" [(page)]="page" [maxSize]="10"
                        aria-label="Default pagination"></ngb-pagination>-->
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Periods</th>
      <th scope="col" translate>Datums</th>
      <th scope="col" translate>Summa kopā par ēku</th>
      <th scope="col" class="text-center">
        <button type="button" class="btn btn-primary" (click)="openCreateBillModal()" >
          <i class="far fa-lg fa-plus-square"></i>
          <span translate>Create bill</span>
        </button>
      </th>
    </tr>

    </thead>
    <tr class="scope" *ngFor="let overviewDto of billOverviewDtos">
      <td>{{(overviewDto.month + 1) + '/' + overviewDto.year}}</td>
      <td>{{overviewDto.billDate | date:'dd.MM.yyyy'}}</td>
      <td>{{overviewDto.allBillTotal}}</td>
      <td class="text-center">
        <button
          type="button" class="btn btn-primary" (click)="openBillFieldSummary(overviewDto)" [title]="'View bill field summary' | translate" translate>
          <i class="fas fa-file-alt"></i>
          View bill field summary
        </button>
        <button
          type="button" class="btn btn-primary" (click)="openApartmentView(overviewDto)" [title]="'View apartments' | translate" translate>
          <i class="fa fa-lg fa-building"></i>
          View apartments
        </button>
        <button
          type="button" class="btn btn-primary" (click)="downloadBillsForMonth(overviewDto)" [title]="'Download bills' | translate" translate>
          <i class="fa fa-download"></i>
          Download bills
        </button>
        <button
          type="button" class="btn btn-danger" (click)="deleteBillForMonth(overviewDto)" [title]="'Delete' | translate" translate>
          <i class="far fa-lg fa-trash-alt"></i>
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
