<div class="container-fluid">
  <!--TODO search FIELD-->

  <!--TODO current month water readings-->
  <div class="row">
    <div class="col-md-6">
<!--      <ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="totalItems" [(page)]="page" [maxSize]="10"
        aria-label="Default pagination"></ngb-pagination>-->
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" style="width: 5%" translate>Apartment number</th>
      <th scope="col" style="width: 8%" translate>Size</th>
      <th scope="col" style="width: 8%" translate>INHABITANTS</th>
      <th scope="col" translate>Tenant name</th>
      <!--      <th scope="col" style="width: 12.5%" translate>Cold water</th>
            <th scope="col" style="width: 12.5%" translate>Hot water</th>-->
      <th scope="col" style="width: 15%" class="text-center">
        <button class="btn btn-primary" (click)="openApartmentCreate()" [title]="'Create new' | translate">
          <i class="far fa-lg fa-plus-square"></i>
          <span translate>Create new</span>
        </button>
      </th>
    </tr>
    <!--TODO tooltips for button actions-->
    </thead>
    <tr class="scope" *ngFor="let dto of apartmentDtos">
      <td>{{dto.apartment.apartmentNumber}}</td>
      <td>{{dto.apartment.size}} m<sup>2</sup></td>
      <td>{{dto.apartment.inhabitantCount}}</td>
      <td>{{dto.apartment.tenantName}}</td>
      <td class="text-center">
        <button class="btn btn-primary" (click)="openApartmentEdit(dto.apartment)" [title]="'Edit' | translate">
          <i class="far fa-lg fa-edit"></i>
          <span translate>Edit</span>
        </button>
      </td>
    </tr>
  </table>
</div>
