<div class="modal-header">
  <h4 class="modal-title" translate>Building
  </h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="address" translate>Address</label>
      <input id="address" class="form-control" name="address" formControlName="address"
        [ngClass]="{ 'invalid': canShowError(f.address)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.address)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="landlord" translate>Landlord</label>
      <input id="landlord" class="form-control" name="landlord" formControlName="landlord"
        [ngClass]="{ 'invalid': canShowError(f.landlord)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.landlord)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="landlordAddress" translate>Landlord address</label>
      <input id="landlordAddress" class="form-control" name="landlordAddress" formControlName="landlordAddress"
        [ngClass]="{ 'invalid': canShowError(f.landlordAddress)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.landlordAddress)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="regNr" translate>Registration number</label>
      <input id="regNr" class="form-control" name="regNr" formControlName="regNr"
        [ngClass]="{ 'invalid': canShowError(f.regNr)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.regNr)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="bank" translate>Bank</label>
      <input id="bank" class="form-control" name="bank" formControlName="bank"
        [ngClass]="{ 'invalid': canShowError(f.bank)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.bank)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="swift" translate>SWIFT</label>
      <input id="swift" class="form-control" name="swift" formControlName="swift"
        [ngClass]="{ 'invalid': canShowError(f.swift)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.swift)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="bankAccount" translate>Bank account</label>
      <input id="bankAccount" class="form-control" name="bankAccount" formControlName="bankAccount"
        [ngClass]="{ 'invalid': canShowError(f.bankAccount)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.bankAccount)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid" translate> Submit</button>
      <a routerLink="/building-list"><button class="btn" translate> Back</button></a>
    </div>
  </form>
</div>
