<div class="row align-items-center form-group">
  <label class="col-md-4 " for="selected-month-period" translate>Month period</label>
  <p-calendar [(ngModel)]="selectedMonthYear" view="month" dateFormat="mm/yy"
    [yearNavigator]="true" yearRange="2000:2030" showButtonBar="true" (onSelect)="onMonthPeriodChange()"
    id="selected-month-period"></p-calendar>
</div>
