<div class="modal-header">
  <h4 class="modal-title" translate>Bill field
  </h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" translate>Name</label>
      <input id="name" class="form-control" name="name" formControlName="name"
        [ngClass]="{ 'invalid': canShowError(f.name)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.name)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="tariff" translate>Tariff</label>
      <input type="number" id="tariff" class="form-control" name="tariff" formControlName="tariff"
        [ngClass]="{ 'invalid': canShowError(f.tariff)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.tariff)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="property" translate>Property</label>
      <select class="form-control" id="property" name="property" formControlName="property"
        [ngClass]="{ 'invalid': canShowError(f.property)}">
        <option *ngFor="let property of propertyList" [ngValue]="property">{{property | translate}}</option>
      </select>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.property)" translate>
        REQUIRED_FIELD
      </div>
    </div>
    <div class="form-group">
      <label for="validFrom" translate>Valid from</label>
      <div class="input-group">
        <p-calendar id="validFrom" formControlName="validFrom" dateFormat="dd.mm.yy"></p-calendar>
      </div>
    </div>
    <div class="form-group">
      <label for="validUntil" translate>Valid until</label>
      <div class="input-group">
        <p-calendar id="validUntil" formControlName="validUntil" dateFormat="dd.mm.yy" ></p-calendar>
      </div>
    </div>
    <div class="form-group">
      <label for="footerNote" translate>Footer note</label>
      <input id="footerNote" class="form-control" name="footerNote" formControlName="footerNote"
        [ngClass]="{ 'invalid': canShowError(f.name)}"/>
    </div>
    <div class="form-check">
      <input id="defaultField" type="checkbox" class="form-check-input" name="defaultField"
        formControlName="defaultField"/>
      <label for="defaultField" class="form-check-label" translate>All apartments</label>
    </div>
    <div *ngIf="!form.value.defaultField">
      <button type="button" (click)="openApartmentList()" translate>Select apartments</button>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid" translate> Submit</button>
      <a [routerLink]="'/bill-field-list'"><button class="btn" translate> Back</button></a>
    </div>
  </form>
</div>
