<div class="modal-header">
  <h4 class="modal-title">{{'Create bill' | translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="billNotification" translate>Bill notification</label>
      <textarea id="billNotification" rows="6" formControlName="billNotification" class="form-control"
        name="billNotification" ></textarea>
<!--      [ngClass]="{ 'invalid': canShowError(f.billNotification)}"-->
    </div>

    <div class="form-group">
      <label for="billDate" translate>Bill date</label>
      <p-calendar formControlName="billDate" dateFormat="dd.mm.yy" showButtonBar="true" dataType="string"></p-calendar>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid" translate> Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</div>
