<div class="modal-header">
  <h4 class="modal-title">{{'Apartment' | translate}} "{{apartmentNumber}}"</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="form-group">
      <label for="hotWater" translate>Hot water</label>
      <div class="small-description" *ngIf="previousWaterReading">{{'Previous month reading' | translate}}: {{previousWaterReading.hotWater}}</div>
      <input id="hotWater" formControlName="hotWater" class="form-control" name="hotWater" type="number" [ngClass]="{ 'invalid': canShowError(f.hotWater)}"/>
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.hotWater)" translate>Can't be smaller than previous month's</div>
    </div>

    <div class="form-group">
      <label for="coldWater" translate>Cold water</label>
      <div class="small-description" *ngIf="previousWaterReading">{{'Previous month reading' | translate}}: {{previousWaterReading.coldWater}}</div>
      <input id="coldWater" class="form-control" formControlName="coldWater" name="coldWater" type="number" [ngClass]="{ 'invalid': canShowError(f.coldWater)}" />
      <div class="invalid-feedback" style="display: block" *ngIf="canShowError(f.coldWater)" translate>Can't be smaller than previous month's</div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="form.invalid" translate> Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</div>
