<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Landlord</th>
      <th scope="col" translate>Address</th>
      <th scope="col" translate>Registration number</th>
      <!--      <th scope="col" translate>Buildings</th>-->
      <th scope="col" class="text-center">
        <button type="button" class="btn btn-primary" (click)="createBuilding()" [title]="'Create new' | translate">
          <i class="far fa-lg fa-plus-square"></i>
          <span translate>Create new</span>
        </button>
      </th>
    </tr>
    </thead>

    <tr class="scope" *ngFor="let building of buildings">
      <td>{{building.landlord}}</td>
      <td>{{building.address}}</td>
      <td>{{building.regNr}}</td>
      <!--      <td>{{getBuildingString(user.buildings)}}</td>-->
      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="openBuildingEdit(building)" [title]="'Edit' | translate">
          <i class="far fa-lg fa-edit"></i>
          <span translate>Edit</span>
        </button>
        <!--
                <button type="button" class="btn btn-danger" (click)="deleteBillField(billField)" [title]="'Delete' | translate">
                  <i class="far fa-lg fa-trash-alt"></i>
                </button>-->
      </td>
    </tr>
  </table>
</div>
