<div class="container-fluid">
  <div class="row">
    <div class="offset-md-10 col-md-2">
      <!--  <ngb-pagination (pageChange)="loadPage($event)" [collectionSize]="totalItems" [(page)]="page" [maxSize]="10"
                        aria-label="Default pagination"></ngb-pagination>-->
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Dzīvoklis</th>
      <th scope="col" translate>Iemītnieks</th>
      <th scope="col" translate>Summa kopā</th>
      <th scope="col" class="text-center">
      </th>
    </tr>

    </thead>
    <tr class="scope" *ngFor="let overviewDto of apartmentBillOverviews">
      <td>{{overviewDto.apartmentNumber}}</td>
      <td>{{overviewDto.tenantName}}</td>
      <td>{{overviewDto.billTotal}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="downloadBill(overviewDto)"
          [title]="'Download bill' | translate" translate>
          <i class="fa fa-download"></i>
          Download bill
        </button>
      </td>
    </tr>
  </table>
</div>
