<div class="container-fluid">
  <div class="row">
    <div class="">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Name</th>
      <th scope="col" translate>Total sum</th>
    </tr>

    </thead>
    <tr class="scope" *ngFor="let summary of billFieldSummary">
      <td>{{summary.billFieldName}}</td>
      <td>{{summary.total}}</td>
    </tr>
  </table>
</div>
