<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-month-period (monthYearChange)="onMonthYearChange($event)"></app-month-period>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Apartment</th>
      <th scope="col" translate>Tenant name</th>
      <th scope="col" translate>Cold water</th>
      <th scope="col" translate>Hot water</th>
      <th scope="col" class="text-center">
      </th>
    </tr>
    </thead>

    <tr class="scope" *ngFor="let waterReading of waterReadingsDtos">
      <td>{{waterReading.apartmentNumber}}</td>
      <td>{{waterReading.tenantName}}</td>
      <td>
        <div *ngIf="waterReading?.hotWater != null" [innerHTML]="waterReading.coldWater.toString() | numericPostfix: 'm': '3'">
        </div>
      </td>
      <td>
        <div *ngIf="waterReading?.hotWater != null" [innerHTML]="waterReading.hotWater.toString() | numericPostfix: 'm': '3'">
        </div>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-primary" (click)="openWaterReadingsEdit(waterReading)"
          [title]="'Edit' | translate">
          <i class="far fa-lg fa-edit"></i>
          <span translate>Edit</span>
        </button>
      </td>
    </tr>
  </table>
</div>
