<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" translate>Id</th>
      <th scope="col" translate>Email</th>
      <th scope="col" translate>Buildings</th>
      <th scope="col" class="text-center">
        <!--<button type="button" class="btn btn-primary" (click)="createBillField()" [title]="'Create new' | translate">
          <i class="far fa-lg fa-plus-square"></i>
        </button>-->
      </th>
    </tr>
    </thead>

    <tr class="scope" *ngFor="let user of users">
      <td>{{user.userId}}</td>
      <td>{{user.email}}</td>
      <td>{{getBuildingString(user.buildings)}}</td>
      <td class="text-center">
<!--        <button type="button" class="btn btn-primary" (click)="openBillField(billField)" [title]="'Edit' | translate">
          <i class="far fa-lg fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteBillField(billField)" [title]="'Delete' | translate">
          <i class="far fa-lg fa-trash-alt"></i>
        </button>-->
      </td>
    </tr>
  </table>
</div>
