<app-header></app-header>
<router-outlet></router-outlet>
<p-toast></p-toast>
<ngx-spinner bdColor="rgba(255,255,255,0.2)"
             size="medium"
             color="#0073dd"
             type="ball-scale-multiple">
  <p style="font-size: 20px; color: #0073dd">Loading...</p>
</ngx-spinner>
