/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

.center-cell {
  display: flex;
  justify-content: center;
}
/*TODO make a seperate hover class*/
.fas:hover{
  //color: #0073dd;
  //TODO make hover elements
}
